USE [master]
GO
/****** Object:  Database [TrabalhoAAD]    Script Date: 12/29/2023 7:45:05 PM ******/
CREATE DATABASE [TrabalhoAAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabalhoAAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabalhoAAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabalhoAAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TrabalhoAAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabalhoAAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabalhoAAD]
GO
/****** Object:  User [POO]    Script Date: 12/29/2023 7:45:05 PM ******/
CREATE USER [POO] FOR LOGIN [POO] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
/****** Object:  User [Geral]    Script Date: 12/29/2023 7:45:05 PM ******/
CREATE USER [Geral] FOR LOGIN [Geral] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [POO]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [POO]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [POO]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [POO]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [POO]
GO
ALTER ROLE [db_datareader] ADD MEMBER [POO]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [POO]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [POO]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [POO]
GO
/****** Object:  Table [dbo].[Agente]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agente](
	[NomeAgente] [varchar](255) NULL,
	[NIFAgente] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIFAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgenteContacto]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgenteContacto](
	[TCId] [int] NOT NULL,
	[Contacto] [varchar](20) NULL,
	[AgenteNIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TCId] ASC,
	[AgenteNIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avaliador]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliador](
	[IdAvaliador] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAvaliador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avaliar]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliar](
	[IdAvalia] [int] IDENTITY(1,1) NOT NULL,
	[IdAvaliador] [int] NULL,
	[DataAvaliacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAvalia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCP] [int] NULL,
	[Nome] [varchar](255) NULL,
	[Morada] [varchar](255) NULL,
	[DataNasc] [datetime] NULL,
	[NIF] [int] NOT NULL,
	[CC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteContacto]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteContacto](
	[TCId] [int] NOT NULL,
	[Contacto] [varchar](20) NULL,
	[ClienteNIF] [int] NOT NULL,
	[IdContacto] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cod. Postal]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cod. Postal](
	[IdCP] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComissaoAgente]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComissaoAgente](
	[AgenteNIF] [int] NOT NULL,
	[Lucro] [int] NOT NULL,
	[Valor] [decimal](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[AgenteNIF] ASC,
	[Lucro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratoCompraVenda]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratoCompraVenda](
	[IdNegocio] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime] NULL,
	[Data] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContratoMediacao]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContratoMediacao](
	[ImovelIdImovel] [int] NULL,
	[AgenteNIF] [int] NULL,
	[ClienteNIF] [int] NULL,
	[Data] [datetime] NULL,
	[Validade] [datetime] NULL,
	[ValorPedido] [decimal](19, 0) NULL,
	[IdCMediacao] [int] IDENTITY(1,1) NOT NULL,
	[Ativo] [binary](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCMediacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imovel]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imovel](
	[IdImovel] [int] IDENTITY(1,1) NOT NULL,
	[IdCP] [int] NULL,
	[IdTipoImovel] [int] NULL,
	[Area] [real] NULL,
	[ClienteNIF Proprientario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImovel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImovelAvalia]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImovelAvalia](
	[IdImovel] [int] NOT NULL,
	[IdAvalia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImovel] ASC,
	[IdAvalia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lucro]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lucro](
	[IdLucro] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [decimal](19, 0) NULL,
	[IdCMediacao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLucro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[DataPagamento] [datetime] NULL,
	[IdPagamento] [int] IDENTITY(1,1) NOT NULL,
	[ContratoCompraVenda] [int] NULL,
	[Valor] [decimal](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proposta]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proposta](
	[IdProposta] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NULL,
	[Valor] [decimal](19, 0) NULL,
	[DataLimite] [datetime] NULL,
	[ClienteNIF Comprador] [int] NULL,
	[IdContratoMediacao] [int] NULL,
	[Ativa] [binary](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropostaContrato]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropostaContrato](
	[ContratoCompraVenda] [int] NOT NULL,
	[PropostaIdProposta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContratoCompraVenda] ASC,
	[PropostaIdProposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teste]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teste](
	[IdCliente] [int] NOT NULL,
	[TCId] [int] NOT NULL,
	[Contacto] [varchar](20) NULL,
	[ClienteNIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC,
	[TCId] ASC,
	[ClienteNIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo Contacto]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo Contacto](
	[TCId] [int] IDENTITY(1,1) NOT NULL,
	[DescTC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoImovel]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoImovel](
	[IdTipoImovel] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoImovel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[IdUserType] [int] NOT NULL,
	[UserName] [varchar](255) NULL,
	[Passwords] [varchar](255) NULL,
	[Name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[IdUserType] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitaImovel]    Script Date: 12/29/2023 7:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitaImovel](
	[IdImovel] [int] NOT NULL,
	[Data] [datetime] NULL,
	[ClienteNIF] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdImovel] ASC,
	[ClienteNIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgenteContacto]  WITH CHECK ADD  CONSTRAINT [FKAgenteCont802684] FOREIGN KEY([AgenteNIF])
REFERENCES [dbo].[Agente] ([NIFAgente])
GO
ALTER TABLE [dbo].[AgenteContacto] CHECK CONSTRAINT [FKAgenteCont802684]
GO
ALTER TABLE [dbo].[AgenteContacto]  WITH CHECK ADD  CONSTRAINT [FKAgenteCont990541] FOREIGN KEY([TCId])
REFERENCES [dbo].[Tipo Contacto] ([TCId])
GO
ALTER TABLE [dbo].[AgenteContacto] CHECK CONSTRAINT [FKAgenteCont990541]
GO
ALTER TABLE [dbo].[Avaliar]  WITH CHECK ADD  CONSTRAINT [FKAvaliar962022] FOREIGN KEY([IdAvaliador])
REFERENCES [dbo].[Avaliador] ([IdAvaliador])
GO
ALTER TABLE [dbo].[Avaliar] CHECK CONSTRAINT [FKAvaliar962022]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FKCliente775553] FOREIGN KEY([IdCP])
REFERENCES [dbo].[Cod. Postal] ([IdCP])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FKCliente775553]
GO
ALTER TABLE [dbo].[ComissaoAgente]  WITH CHECK ADD  CONSTRAINT [FKComissaoAg722629] FOREIGN KEY([Lucro])
REFERENCES [dbo].[Lucro] ([IdLucro])
GO
ALTER TABLE [dbo].[ComissaoAgente] CHECK CONSTRAINT [FKComissaoAg722629]
GO
ALTER TABLE [dbo].[ComissaoAgente]  WITH CHECK ADD  CONSTRAINT [FKComissaoAg779184] FOREIGN KEY([AgenteNIF])
REFERENCES [dbo].[Agente] ([NIFAgente])
GO
ALTER TABLE [dbo].[ComissaoAgente] CHECK CONSTRAINT [FKComissaoAg779184]
GO
ALTER TABLE [dbo].[ContratoMediacao]  WITH CHECK ADD  CONSTRAINT [FKContratoMe279749] FOREIGN KEY([ImovelIdImovel])
REFERENCES [dbo].[Imovel] ([IdImovel])
GO
ALTER TABLE [dbo].[ContratoMediacao] CHECK CONSTRAINT [FKContratoMe279749]
GO
ALTER TABLE [dbo].[ContratoMediacao]  WITH CHECK ADD  CONSTRAINT [FKContratoMe287625] FOREIGN KEY([AgenteNIF])
REFERENCES [dbo].[Agente] ([NIFAgente])
GO
ALTER TABLE [dbo].[ContratoMediacao] CHECK CONSTRAINT [FKContratoMe287625]
GO
ALTER TABLE [dbo].[ContratoMediacao]  WITH CHECK ADD  CONSTRAINT [FKContratoMe422570] FOREIGN KEY([ClienteNIF])
REFERENCES [dbo].[Cliente] ([NIF])
GO
ALTER TABLE [dbo].[ContratoMediacao] CHECK CONSTRAINT [FKContratoMe422570]
GO
ALTER TABLE [dbo].[Imovel]  WITH CHECK ADD  CONSTRAINT [FKImovel218657] FOREIGN KEY([IdTipoImovel])
REFERENCES [dbo].[TipoImovel] ([IdTipoImovel])
GO
ALTER TABLE [dbo].[Imovel] CHECK CONSTRAINT [FKImovel218657]
GO
ALTER TABLE [dbo].[Imovel]  WITH CHECK ADD  CONSTRAINT [FKImovel419794] FOREIGN KEY([ClienteNIF Proprientario])
REFERENCES [dbo].[Cliente] ([NIF])
GO
ALTER TABLE [dbo].[Imovel] CHECK CONSTRAINT [FKImovel419794]
GO
ALTER TABLE [dbo].[Imovel]  WITH CHECK ADD  CONSTRAINT [FKImovel549678] FOREIGN KEY([IdCP])
REFERENCES [dbo].[Cod. Postal] ([IdCP])
GO
ALTER TABLE [dbo].[Imovel] CHECK CONSTRAINT [FKImovel549678]
GO
ALTER TABLE [dbo].[ImovelAvalia]  WITH CHECK ADD  CONSTRAINT [FKImovelAval135211] FOREIGN KEY([IdAvalia])
REFERENCES [dbo].[Avaliar] ([IdAvalia])
GO
ALTER TABLE [dbo].[ImovelAvalia] CHECK CONSTRAINT [FKImovelAval135211]
GO
ALTER TABLE [dbo].[ImovelAvalia]  WITH CHECK ADD  CONSTRAINT [FKImovelAval863272] FOREIGN KEY([IdImovel])
REFERENCES [dbo].[Imovel] ([IdImovel])
GO
ALTER TABLE [dbo].[ImovelAvalia] CHECK CONSTRAINT [FKImovelAval863272]
GO
ALTER TABLE [dbo].[Lucro]  WITH CHECK ADD  CONSTRAINT [FKLucro443027] FOREIGN KEY([IdCMediacao])
REFERENCES [dbo].[ContratoMediacao] ([IdCMediacao])
GO
ALTER TABLE [dbo].[Lucro] CHECK CONSTRAINT [FKLucro443027]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FKPagamento126609] FOREIGN KEY([ContratoCompraVenda])
REFERENCES [dbo].[ContratoCompraVenda] ([IdNegocio])
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FKPagamento126609]
GO
ALTER TABLE [dbo].[Proposta]  WITH CHECK ADD  CONSTRAINT [FKProposta224275] FOREIGN KEY([ClienteNIF Comprador])
REFERENCES [dbo].[Cliente] ([NIF])
GO
ALTER TABLE [dbo].[Proposta] CHECK CONSTRAINT [FKProposta224275]
GO
ALTER TABLE [dbo].[Proposta]  WITH CHECK ADD  CONSTRAINT [FKProposta860063] FOREIGN KEY([IdContratoMediacao])
REFERENCES [dbo].[ContratoMediacao] ([IdCMediacao])
GO
ALTER TABLE [dbo].[Proposta] CHECK CONSTRAINT [FKProposta860063]
GO
ALTER TABLE [dbo].[PropostaContrato]  WITH CHECK ADD  CONSTRAINT [FKPropostaCo738532] FOREIGN KEY([PropostaIdProposta])
REFERENCES [dbo].[Proposta] ([IdProposta])
GO
ALTER TABLE [dbo].[PropostaContrato] CHECK CONSTRAINT [FKPropostaCo738532]
GO
ALTER TABLE [dbo].[PropostaContrato]  WITH CHECK ADD  CONSTRAINT [FKPropostaCo774163] FOREIGN KEY([ContratoCompraVenda])
REFERENCES [dbo].[ContratoCompraVenda] ([IdNegocio])
GO
ALTER TABLE [dbo].[PropostaContrato] CHECK CONSTRAINT [FKPropostaCo774163]
GO
ALTER TABLE [dbo].[Teste]  WITH CHECK ADD  CONSTRAINT [FKClienteCon246692] FOREIGN KEY([TCId])
REFERENCES [dbo].[Tipo Contacto] ([TCId])
GO
ALTER TABLE [dbo].[Teste] CHECK CONSTRAINT [FKClienteCon246692]
GO
ALTER TABLE [dbo].[Teste]  WITH CHECK ADD  CONSTRAINT [FKClienteCon641867] FOREIGN KEY([ClienteNIF])
REFERENCES [dbo].[Cliente] ([NIF])
GO
ALTER TABLE [dbo].[Teste] CHECK CONSTRAINT [FKClienteCon641867]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([IdUserType])
REFERENCES [dbo].[UserType] ([IdUserType])
GO
ALTER TABLE [dbo].[VisitaImovel]  WITH CHECK ADD  CONSTRAINT [FKVisitaImov301716] FOREIGN KEY([ClienteNIF])
REFERENCES [dbo].[Cliente] ([NIF])
GO
ALTER TABLE [dbo].[VisitaImovel] CHECK CONSTRAINT [FKVisitaImov301716]
GO
ALTER TABLE [dbo].[VisitaImovel]  WITH CHECK ADD  CONSTRAINT [FKVisitaImov5190] FOREIGN KEY([IdImovel])
REFERENCES [dbo].[Imovel] ([IdImovel])
GO
ALTER TABLE [dbo].[VisitaImovel] CHECK CONSTRAINT [FKVisitaImov5190]
GO
USE [master]
GO
